.cursor-fireflies {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999;
}

.firefly {
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: #ffffff; /* Белый цвет */
  border-radius: 50%;
  box-shadow: 0 0 8px #ffffff; /* Свечение */
  transition: transform 0.3s ease-out; /* Плавное движение */
  opacity: 0.8;
}