@import "tailwindcss";

.striked {
  text-decoration: line-through;
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0) rotate(0deg);
  }

  50% {
    transform: translateY(-20px) rotate(180deg);
  }
}

@keyframes shine {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

.animate-float {
  animation: float 20s ease-in-out infinite;
}

.animate-shine {
  animation: shine 2s ease-in-out infinite;
}