/* Подключаем шрифт Chalkduster */
@font-face {
  font-family: 'Chalkduster';
  src: url('/fonts/Chalkduster.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* чтобы текст не исчезал при загрузке */
}

/* Вспомогательный класс для применения шрифта */
.font-chalkduster {
  font-family: 'Chalkduster', 'Brush Script MT', cursive, sans-serif;
}